#faqPageContainer{
    display: flex;
    min-height: fit-content(100%);
}

#faqContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#faqHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #E0868E;
}

#faqBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#faqBodyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    width: 100%;
}

#faqBodyTitle {
    padding: 2%;
    border-bottom: solid 0.1em #21295C;
    border-radius: 10%;
    margin: 0% 0% 2%;
}

#faqBodyList {
    padding: 3%;
    width: 90%;
    background-color: #CFEAED;
    margin: 0% 0% 2%;
}

.faq {
    color: #49111C;
    font-weight: bold;
}