#pastResultsPageContainer{
    display: flex;
    height: 100%;
}

#pastResultsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#pastResultsHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: rgb(220, 161, 255);
}

#pastResultsBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#pastResultsBodyContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

#pastResultsLeftSideBar, #pastResultsRightSideBar {
    width: 8%;
    background-color: rgb(155, 43, 149);
    height: 100%;
}

@media (max-width:544px){
    #pastResultsLeftSideBar, #pastResultsRightSideBar {
        display: none;
    }
}

@media (max-width:830px){
    #pastResultsRightSideBar {
        display: none;
    }

    #pastResultsLeftSideBar {
        width: 7%;
    }
}

@media (max-width:715px){
    #pastResultsRightSideBar {
        display: none;
    }

    #pastResultsLeftSideBar {
        width: 4.5%;
    }
}