#pastResultsPageContainer{
    display: flex;
    height: 100%;
}

#pastResultsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#pastResultsHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #BAA7B0;
}

#pastResultsBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#pastResultsBodyContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}