#tutorialsPageContainer{
    display: flex;
    min-height: fit-content(100%);
}

#tutorialsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#tutorialsHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #E0868E;
}

#tutorialsBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#tutorialsBodyContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    width: 100%;
}

#tutorialsBodyFilterBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
}

#tutorialsBodyList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
}