#optionsPageContainer{
    display: flex;
    height: fit-content(100%);
}

#optionsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content(100%);
    width: 100%;
    flex-grow: 1;
}

#optionsHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #49111C;
    color: #FFFBFC;
}

#optionsBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#optionsBodyContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

#optionsBodyDescriptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    height: fit-content(60%);
    padding: 2% 2%;
}

#optionsBodyDescriptionsInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: fit-content(60%);
    padding: 2% 0% 0%;
}

#optionsBodyDescriptInfoUploads {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    margin: 0% 2% 0% 0.5%;
    padding: 2%;
    background-color: #9B112B;
    color: #FFFBFC;
    border-right: solid 0.4em #A9CEF4;
}

#optionsBodyDescriptInfoAlerts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    margin: 0% 2% 0% 0.5%;
    padding: 2%;
    background-color: #6D3D47;
    color: #FFFBFC;
    border-right: solid 0.4em #A9CEF4;
}

#optionsBodyDescriptInfoExtension {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    margin: 0% 2% 0% 0.5%;
    background-color: #70292F;
    color: #FFFBFC;
    border-right: solid 0.4em #A9CEF4;
}

@media (max-width:445px) {
    /* Changes for Mobile view */
}

@media (max-width:768px) {
    /* Changes for Tablet view */
}

@media (max-width:1023px) {
    /* Changes for Laptop view */
}