#loginPageContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#loginContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
}

#loginHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 1% 0%;
}

#loginBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0% 2%;
    height: 100%;
}

#loginSection {
    border-right: 0.1em solid black;
    height: 70%;
    padding: 0% 2%;
}

#loginForm{
    height: 100%;
}

#loginDivider {
    background-color:  black;
}

#signUpSection {
    height: 70%;
    padding: 0% 2%;
}

#signUpForm {
    height: 100%;
}

#loginLeftSideBar, #loginRightSideBar {
    width: 8%;
    background-color: rgb(230, 117, 43);
    height: 100%;
}

@media (max-width:544px){
    #loginLeftSideBar, #loginRightSideBar {
        display: none;
    }
}

@media (max-width:830px){
    #loginRightSideBar {
        display: none;
    }

    #loginLeftSideBar {
        width: 7%;
    }
}

@media (max-width:715px){
    #loginRightSideBar {
        display: none;
    }

    #loginLeftSideBar {
        width: 4.5%;
    }
}