#aboutPageContainer{
    display: flex;
    min-height: fit-content(100%);
}

#aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: fit-content(100%);
    width: 100%;
    flex-grow: 1;
}

#aboutHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #3E5C76;
    color: #FFFBFC;
}

#aboutBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#aboutBodyContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

#aboutBodyAuthor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content(35%);
    padding: 2% 1%;
}

#aboutBodyAuthorPicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: fit-content(100%);
}

#aboutBodyAuthorImage {
    height: 70%;
    width: 70%;
    border-radius: 50%;
}

#aboutBodyAuthorProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: fit-content(100%);
}

#aboutBodyAuthorProfileTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}