#homePageContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#homeContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

#homeHeader {
    display: flex;
    flex-direction: row;
}

#homeLeftSideBar, #homeRightSideBar {
    width: 8%;
    background-color: rgb(216, 25, 67);
    height: 100%;
}

@media (max-width:544px){
    #homeLeftSideBar, #homeRightSideBar {
        display: none;
    }
}

@media (max-width:830px){
    #homeRightSideBar {
        display: none;
    }

    #homeLeftSideBar {
        width: 7%;
    }
}

@media (max-width:715px){
    #homeRightSideBar {
        display: none;
    }

    #homeLeftSideBar {
        width: 4.5%;
    }
}