#homePageContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#homeContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
}

#homeHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 2% 1%;
    background-color: rgb(17, 14, 14);
}

#homeHeaderSignUp {
    margin: 0% 2%;
}

#homeHeaderMessage {
    color: rgb(217, 241, 243);
    padding: 1% 0% 0%;
    margin: 0%;
}

#homeBody {
    display: flex;
    flex-direction: column;
    margin: 0% 2%;
}

#homeLeftSideBar, #homeRightSideBar {
    width: 8%;
    background-color: rgb(216, 25, 67);
    height: 100%;
}

@media (max-width:544px){
    #homeLeftSideBar, #homeRightSideBar {
        display: none;
    }
}

@media (max-width:830px){
    #homeRightSideBar {
        display: none;
    }

    #homeLeftSideBar {
        width: 7%;
    }
}

@media (max-width:715px){
    #homeRightSideBar {
        display: none;
    }

    #homeLeftSideBar {
        width: 4.5%;
    }
}