#homePageContainer {
    display: flex;
    height: 100%;
}

#homeContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#homeHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: rgb(17, 14, 14);
}

#homeHeaderSignUp {
    margin: 0% 2%;
}

#homeHeaderMessage {
    font-size: 2em;
    color: rgb(217, 241, 243);
    margin: 0%;
}

#homeBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#homeBodyContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

#homeBodyTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #A53F58;
    padding: 1% 0%;
    border-bottom: solid dimgrey .2em;
    color: #FFFBFC;
}

#homeBodyTopInfo {
    /* padding: 2% 0% 0% 1.5%; */
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#homeBodyTopTitle {
    width: 30%;
    font-size: 3em;
    font-family: 'Titillium Web', sans-serif;
}

#homeBodyTopImage {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
}

#homeBodyTopLogo {
    width: 100%;
}

@media (max-width:1250px){
    #homeHeaderMessage {
        font-size: 1.5em;
        color: rgb(217, 241, 243);
        margin: 0%;
    }
}

@media (max-width:960px){
    #homeHeaderMessage {
        font-size: 1em;
        color: rgb(217, 241, 243);
        padding: 1% 0% 0%;
        margin: 0%;
    }

    #homeBodyTop {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #A53F58;
        padding: 1% 0%;
        border-bottom: solid dimgrey .2em;
        color: #FFFBFC;
    }

    #homeBodyTopInfo {
        /* padding: 2% 0% 0% 1.5%; */
        order: 3;
        width: 100%;
        height: 40%;
        text-align: left;
        display: flex;
    }
    
    #homeBodyTopTitle {
        order: 1;
        width: 100%;
        height: 30%;
        font-size: 3em;
        font-family: 'Titillium Web', sans-serif;
    }
    
    #homeBodyTopImage {
        order: 2;
        height: 30%;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    
    #homeBodyTopLogo {
        width: 50%;
        height: 70%;
    }
}

@media(max-width:890px) {
    #homeBodyTop {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #A53F58;
        padding: 1% 0%;
        border-bottom: solid dimgrey .2em;
        color: #FFFBFC;
    }

    #homeBodyTopInfo {
        /* padding: 2% 0% 0% 1.5%; */
        order: 3;
        width: 100%;
        height: 20%;
        text-align: center;
        display: flex;
        align-content: center;
        align-items: center;
    }
    
    #homeBodyTopTitle {
        order: 1;
        width: 100%;
        height: 20%;
        font-size: 3em;
        font-family: 'Titillium Web', sans-serif;
        align-content: center;
        align-items: center;
    }
    
    #homeBodyTopImage {
        order: 2;
        height: 60%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    #homeBodyTopLogo {
        width: 60%;
        height: 80%;
    }
}

@media (max-width:670px){
    #homeHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 2% 1%;
        background-color: rgb(17, 14, 14);
    }
    #homeHeaderSignUp {
        margin: 1% 0%;
    }
    
    #homeHeaderMessage {
        color: rgb(217, 241, 243);
        text-align: center;
        padding: 1% 0% 0%;
        margin: 0%;
    }
}


@media (max-width: 535px){
    #homeBodyTopTitle{
        font-size: 2em;
        text-align: center;
    }

}

@media (max-width: 405px){
    #homeBodyTopTitle{
        font-size: 1.5em;
        text-align: center;
    }


}