#moreResourcesPageContainer{
    display: flex;
    min-height: fit-content(100%);
}

#moreResourcesContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#moreResourcesHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #E0868E;
}

#moreResourcesBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#moreResourcesBodyContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

#moreResourcesBodyList {
    height: fit-content;
    width: 100%;
    padding: 3%;
}

#snopesImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#moreResourcesRecommendations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 2%;
    background-color: #98BADF;
}

#moreResourcesRecommenationsTitle {
    margin: 0% 0% 2%;
    padding: 1%;
    border-top: solid 0.2em #49111C;
    border-right: solid 0.2em #49111C;
    border-left: solid 0.2em #49111C;
    border-radius: 15%;
}

#moreResourcesRecommendationContent {
    text-align: center;
}