#feedbackPageContainer{
    display: flex;
    min-height: fit-content(100%);
}

#feedbackContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#feedbackHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #E0868E;
}

#feedbackBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#feedbackBodyContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

#feedbackEmailFormTitle {
    padding: 1%;
    margin: 0% 0% 2%;
    border-bottom: solid 0.1em #49111C;
    border-right: solid 0.1em #49111C;
    border-left: solid 0.1em #49111C;
    border-radius: 15%;
}

#feedbackEmailForm {
    width: 100%;
    height: fit-content;
    padding: 5%;
}