#signUpPageContainer {
    display: flex;
    height: 100%;
}

#signUpContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#signUpHeader{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
}

#signUpBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    padding: 3%;
}

#signUpSection {
    height: 70%;
    padding: 0% 2%;
}

#signUpForm {
    height: 100%;
}