#loginPageContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#loginContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#loginHeader{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 0%;
}

#loginBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

#loginSection {
    height: 100%;
    width: 60%;
}

#loginDivider {
    background-color:  black;
}