#extensionPageContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#extensionContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
}

#extensionHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #21295C;
    color: #FFFBFC;
}

#extensionBody {
    display: flex;
    flex-direction: column;
    margin: 0% 2%;
}

#extensionInfoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 2%;
    height: fit-content;
}
