#extensionPageContainer {
    display: flex;
    flex-direction: row;
    min-height: fit-content(100%);
}

#extensionContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
}

#extensionHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #21295C;
    color: #FFFBFC;
}

#extensionBody {
    display: flex;
    flex-direction: column;
}

#extensionInfoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 2%;
    height: fit-content;
}

#extensionInfoTitle {
    padding: 1%;
    border-bottom: solid 0.2em #76232A;
    border-right: solid 0.2em #76232A;
    border-left: solid 0.2em #76232A;
    border-radius: 20%;
}

#extensionInfoText {
    font-size: 1.3em;
    border-left: solid 0.3em #76232A;
}

.extensionInfoListItem {
    padding: 2% 0% 0%;
}

#extensionInfoTutorialLink {
    margin: 1% 0% 0%;
    padding: 1% 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border-top: dotted 0.05em #76232A;
}

#extensionDownloadSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #7CA0BF; 
    color: #000000;
    width: 100%;
    min-height: fit-content;
    padding: 2%;
}

#extensionDownloadTitle {
    padding: 0% 2% 1%;
    border-bottom: groove 0.1em #76232A;
    border-radius: 5%;
    margin: 0% 0% 2%;
}

#extensionPreviewSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 2% 0%;
}

#extensionPreviewScenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: fit-content;
    padding: 2% 0% 0%;
}

.previewScene {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: fit-content;
    margin: 1% 2%;
}

.previewExamplePicture {
    height: 30em;
    width: 100%;
    background-color: #AD343E;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #FFFBFC;
}

@media (max-width:445px) {
    /* Changes for Mobile view */
}

@media (max-width:768px) {
    /* Changes for Tablet view */
    #extensionPreviewScenes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
        height: fit-content;
    }
    
    .previewScene {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        height: fit-content;
    }
}

@media (max-width:1023px) {
    /* Changes for Laptop view */
}