#newsAlertsPageContainer {
    display: flex;
    height: 100%;
}

#newsAlertsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#newsAlertsHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #3E5C76;
    color: #FFFBFC;
}

#newsAlertsBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#newsAlertsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(100%);
    padding: 1%;

}

#newsAlertsInfoTitle {
    padding: 1%;
    border-bottom: solid 0.2em #76232A;
    border-right: solid 0.2em #76232A;
    border-left: solid 0.2em #76232A;
    border-radius: 10%;
}

.newAlertsInfoListItems {
    border-bottom: solid 0.05em #76232A;
    padding: 2% 0%;
}

#newsAlertsSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(100%);
    background-color: #BAA7B0;

}