#newsAlertsPageContainer {
    display: flex;
    min-height: fit-content(100%);
}

#newsAlertsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#newsAlertsHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #3E5C76;
    color: #FFFBFC;
}

#newsAlertsBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#newsAlertsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(100%);
    padding: 1%;

}

#newsAlertsInfoTitle {
    padding: 1%;
    border-bottom: solid 0.2em #76232A;
    border-right: solid 0.2em #76232A;
    border-left: solid 0.2em #76232A;
    border-radius: 10%;
}

.newAlertsInfoListItems {
    border-bottom: solid 0.05em #76232A;
    padding: 2% 0%;
}

#newsAlertsInfoTutorialLink {
    margin: 1% 0% 0%;
    padding: 1% 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

#newsAlertsSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(100%);
    background-color: #DCBCCB;
    padding: 1%;
}

#newsAlertsSelectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: fit-content(100%);
    border: solid 0.3em #5E1A30;
}

#newsAlertsAddAndSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: fit-content(100%);
    background-color: #E8E3FF;
    border-bottom: solid 0.1em #5E1A30;

}

#searchInputGroup {
    margin: 0.5%;
}

#filterInputGroup {
    margin: 0.5%;
}

#addInputGroup {
    margin: 0.5%;
}

#newsAlertsView {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    height: 80%;
    width: 100%;
}

#newsAlertsViewKeywords {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 20%;
    min-height: fit-content(100%);
    padding: 1% 1%;
    background-color: #E8E3FF;
    border-right: solid 0.1em #5E1A30;
}

#viewSelected {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 25em;
}

#veiwFiltersTitle {
    text-align: left;
    display: flex;
    align-content: flex-start;
    align-items: center;
    width: 98%;
    border-bottom: solid 0.04em #5E1A30;
}

#viewActiveFilters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 10em;
}

#filterChipsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow: auto;
}

.filterStyling {
    margin: 3% 2% 2%;
}

#veiwKeywordsTitle {
    text-align: left;
    display: flex;
    align-content: flex-start;
    align-items: center;
    width: 98%;
    padding: 4% 0% 0%;
    border-bottom: solid 0.04em #5E1A30;
}


#viewSelectedKeywords {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 15em;
}

#keywordChipsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow: auto;
}

.keywordStyling {
    margin: 3% 2% 2%;
}

#viewKeywordsButtonGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    height: fit-content(10%);
    /* margin-top: 20%; */
}

#keywordsClear {
    padding: 1.2%;
    margin: 2%;
}

#filtersClear {
    padding: 1.2%;
    margin: 2%;
}


#newsAlertsViewResults {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 80%;
    height:30em;
    background-color: #E8E3FF;
    overflow: auto;
    padding: 1% 1% 0%;
}

.viewResultsDisplayCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: fit-content(100%);
    padding: 0.4%;
    border-bottom: solid 0.1em #5E1A30;
}

.displayCardTopRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: fit-content(50%);
    padding: 1% 0%;
    border-bottom: dotted 0.05em #76232A;
}

.displayCardTitle {
    text-align: left;
    border-right: solid 0.03em #5E1A30;
    padding: 1%;
    width: 50%;
    height: fit-content(100%);
}

.displayCardResult {
    text-align: left;
    border-right: solid 0.03em #5E1A30;
    padding: 1%;
    width: 30%;
    height: fit-content(100%);
}

.displayCardDate {
    text-align: left;
    border-right: solid 0.03em #5E1A30;
    padding: 1%;
    width: 20%;
    height: fit-content(100%);
}

.displayCardBottomRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    height: fit-content(50%);
}

.displayCardDetails {
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 1%;
}

@media (max-width:445px) {
    /* Changes for Mobile view */
    #keywordsClear {
        padding: 1.2%;
        margin: 0% 1.5% 1% 0% !important;
        width: 50% !important;
    }
    
    #filtersClear {
        padding: 1.2%;
        margin: 0% 0% 1% 1.5% !important;
        width: 40% !important;
    }
}

@media (max-width:768px) {
    /* Changes for Tablet view */
    #newsAlertsAddAndSearch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        height: fit-content(100%);
        background-color: #E8E3FF;
        border-bottom: solid 0.1em #5E1A30;
    
    }

    #searchInputGroup {
        margin: 0.5%;
        width: 97%;
    }
    
    #filterInputGroup {
        margin: 0.5%;
        width: 97%;
    }
    
    #addInputGroup {
        margin: 0.5%;
        width: 97%;
    }

    #newsAlertsView {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* height: 100%; */
        width: 100%;
    }

    #newsAlertsViewKeywords {
        width: 100%;
        background-color: #E8E3FF;
        border-bottom: solid 0.1em #5E1A30;
        border-right: none;
    }

    #viewSelected {
        height: 11em;
    }

    #viewActiveFilters {
        width: 100%;
        height: 5em;
    }

    #filterChipsContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        width: 100%;
        overflow: auto;
    }

    .filterStyling {
        margin: 1% 2%;
    }

    #viewSelectedKeywords {
        width: 100%;
        height: 6em;
    }

    #veiwKeywordsTitle {
        padding: 1% 0% 0%;
        border-bottom: solid 0.04em #5E1A30;
    }

    #keywordChipsContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        width: 100%;
        overflow: auto;
    }

    .keywordStyling {
        margin: 1% 2%;
    }

    #viewKeywordsButtonGroup {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        height: fit-content(10%);
        /* margin: 0%; */
    }

    #keywordsClear {
        padding: 1.2%;
        margin: 0% 1.5% 0% 0%;
        width: 25%;
    }
    
    #filtersClear {
        padding: 1.2%;
        margin: 0% 0% 0% 1.5%;
        width: 25%;
    }

    #newsAlertsViewResults {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        width: 100%;
        height:30em;
        background-color: #E8E3FF;
        overflow: auto;
        padding: 1% 1% 0%;
    }

    .displayCardTopRow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: fit-content(50%);
        padding: 1% 0%;
        border-bottom: dotted 0.05em #76232A;
    }

    .displayCardResult {
        text-align: left;
        border-right: solid 0.03em #5E1A30;
        padding: 1%;
        width: 20%;
        height: fit-content(100%);
    }
    
    .displayCardDate {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        border-right: solid 0.03em #5E1A30;
        padding: 1%;
        width: 30%;
        height: fit-content(100%);
    }
}

@media (max-width:1023px) {
    /* Changes for Laptop view */
}