#uploadPageContainer{
    display: flex;
    min-height: fit-content(100%);
}

#uploadContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#uploadHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #21295C;
    color: #FFFBFC;
}

#uploadBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#uploadBodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

#uploadBodyInstructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(100%);
}

#uploadInstructionsTitle {
    padding: 2% 1% 0%;
}

#uploadInstructionsHow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    width: 95%;
    min-height: fit-content(100%);
    padding: 1.5% 0%;
    border-bottom: solid 0.1em #49111C;
}

#uploadHowLabel {
    text-align: left;
    width: 20%;
}

#uploadHowText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding: 0% 0% 0% 1%;
    border-left: solid 0.2em #49111C;
    width: 80%;
    min-height: fit-content(100%);
    font-size: 1.2em;
}

#uploadInstructionsWhat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    width: 95%;
    min-height: fit-content(100%);
    padding: 1.5% 0%;
}

#uploadWhatLabel {
    text-align: left;
    width: 20%;
}

#uploadWhatText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 0% 0% 0% 1%;
    border-left: solid 0.2em #49111C;
    width: 80%;
    min-height: fit-content(100%);
    font-size: 1.2em;
}

#uploadButtonToTutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 95%;
    height: fit-content(100%);
    text-align: center;
    padding: 1.5% 1%;
}

#uploadBodyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(30%);
    padding: 2% 1%;
    background-color: #274764;
    color: #FFFBFC;
}

#uploadBodyFormLabel {
    width: 80%;
    padding: 0% 0% 1.5% 0%;
    border-bottom: solid 0.1em #DEFCFF;
    border-radius: 10%;
}

#uploadBodyFormWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 2% 0% 0%;
}

#urlUpload {
    font-size: 1.2em;
}

#urlUploadLabel {
    font-size: 1.1em;
}

#fileUploadLabel {
    font-size: 1.1em;
}

.filepond--root {
    font-family: "Inconsolata", monospace;
    font-size: 1.4em;
    display: flex;
    align-content: center;
}

.filepond--panel-root {
    background-color: rgba(191, 249, 255, 0.5);
}

.filepond--drop-label {
    color: #FFFBFC;
}

#uploadBodyResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(60%);
    padding: 1% 1%;
}

#uploadResultsTitle {
    padding: 1% 0%;
}

#uploadResultsContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 90%;
    height: fit-content(100%);
    border: solid 0.3em #49111C;
}

#uploadResultsName {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 15%;
    background-color: #CFEAED;
    padding: 1% 0%;
    border-bottom: solid 0.1em #49111C;
}

#uploadResultsNameTitle {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 0% 2% 0%;
    min-height: fit-content(100%);
    border-right: solid 0.05em #49111C;
}

#uploadResultsNameContent {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 0% 2% 0%;
    width: 100%;
    min-height: fit-content(100%);
}

#uploadResultsBinaryOrPercent {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
    min-height: 40%;
    border-bottom: solid 0.1em #49111C;
}

#uploadResultsBinary {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 50%;
    min-height: 100%;
    background-color: #CFEAED;
    padding: 1% 0% 1% 1%;
    border-right: solid 0.1em #49111C;
}

#uploadResultsBinaryTitle {
    display: flex;
    align-content: center;
    align-items: flex-start;
    padding: 0% 2% 0%;
    min-height: fit-content(100%);
    border-right: solid 0.05em #49111C;
}

#uploadResultsBinaryContent {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 0% 2% 0%;
    width: 100%;
    min-height: fit-content(100%);
}

#uploadResultsPercent {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 50%;
    min-height: 100%;
    background-color: #CFEAED;
    padding: 1% 1% 1% 1%;
}

#uploadResultsPercentTitle {
    display: flex;
    align-content: center;
    align-items: flex-start;
    padding: 0% 2% 0%;
    min-height: fit-content(100%);
    border-right: solid 0.05em #49111C;
}

#uploadResultsPercentContent {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 0% 2% 0%;
    width: 100%;
    min-height: fit-content(100%);
}

#uploadResultsDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 50%;
    background-color: #CFEAED;
    padding: 1%;
}

#uploadResultsDetailsTitle {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0% 0% 2%;
    min-height: fit-content(100%);
    width: 100%;
    border-bottom: solid 0.05em #49111C;
}

#uploadResultsDetailsContent {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2% 0% 0%;
    width: 100%;
    min-height: fit-content(100%);
}

#uploadClearAll {
    padding: 1%;
}

@media (max-width:445px) {
    /* Changes for Mobile view */
    #uploadResultsBinaryOrPercent {
        flex-direction: column;
    }

    #uploadResultsBinary {
        width: 100% !important;
        min-height: fit-content(100%) !important;
        padding: 1% 1% 1% 1% !important;
        border-bottom: solid 0.1em #49111C !important;
        border-right: none !important;
    }
    
    #uploadResultsPercent {
        width: 100% !important;
        min-height: fit-content(100%) !important;
        padding: 1% 1% 1% 1% !important;
    }

    #uploadResultsDetailsTitle {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 0% 0% 2%;
        min-height: fit-content(100%);
        width: 100%;
        border-bottom: solid 0.05em #49111C;
    }
}

@media (max-width:768px) {
    /* Changes for Tablet view */
    #uploadInstructionsHow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        width: 95%;
        min-height: fit-content(100%);
        padding: 2% 0%;
        border-bottom: solid 0.1em #49111C;
    }
    
    #uploadHowLabel {
        text-align: left;
        width: 100%;
        padding: 0% 0% 1.5%;
    }
    
    #uploadHowText {
        padding: 2% 0% 0%;
        border-top: solid 0.2em #49111C;
        border-left: none;
        width: 100%;
        min-height: fit-content(100%);
        text-align: center;
        
    }
    
    #uploadInstructionsWhat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        width: 95%;
        min-height: fit-content(100%);
        padding: 2% 0%;
    }
    
    #uploadWhatLabel {
        text-align: left;
        width: 100%;
        padding: 0% 0% 1.5%;
    }
    
    #uploadWhatText {
        padding: 2% 0% 0%;
        border-top: solid 0.2em #49111C;
        border-left: none;
        width: 100%;
        min-height: fit-content(100%);
        text-align: center;
    }

    #uploadResultsContainer {
        width: 90%;
    }

    #uploadResultsName {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        min-height: 15%;
        background-color: #CFEAED;
        padding: 1%;
        border-bottom: solid 0.1em #49111C;
    }

    #uploadResultsNameTitle {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
        padding: 0% 0% 2%;
        width: 100%;
        min-height: fit-content(100%);
        border-bottom: solid 0.05em #49111C;
        border-right: none;
    }
    
    #uploadResultsNameContent {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 2% 0% 0%;
        width: 100%;
        min-height: fit-content(100%);
    }
    
    #uploadResultsBinary {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 50%;
        min-height: 100%;
        background-color: #CFEAED;
        padding: 1% 1% 1% 1%;
        border-right: solid 0.1em #49111C;
    }

    #uploadResultsBinaryTitle {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
        padding: 0% 0% 2%;
        width: 100%;
        min-height: fit-content(100%);
        border-bottom: solid 0.05em #49111C;
        border-right: none;
    }
    
    #uploadResultsBinaryContent {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 2% 0% 0%;
        width: 100%;
        min-height: fit-content(100%);
    }
    
    #uploadResultsPercent {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 50%;
        min-height: 100%;
        background-color: #CFEAED;
        padding: 1% 1% 1% 1%;
    }

    #uploadResultsPercentTitle {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
        padding: 0% 0% 2%;
        width: 100%;
        min-height: fit-content(100%);
        border-bottom: solid 0.05em #49111C;
        border-right: none;
    }
    
    #uploadResultsPercentContent {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 2% 0% 0%;
        width: 100%;
        min-height: fit-content(100%);
    }
    
}

@media (max-width:1023px) {
    /* Changes for Laptop view */
}