#newsAlertsPageContainer {
    display: flex;
    height: 100%;
}

#newsAlertsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#newsAlertsHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #3E5C76;
    color: #FFFBFC;
}

#newsAlertsBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#newsAlertsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(100%);
    padding: 1%;

}

#newsAlertsInfoTitle {
    padding: 1%;
    border-bottom: solid 0.2em #76232A;
    border-right: solid 0.2em #76232A;
    border-left: solid 0.2em #76232A;
    border-radius: 10%;
}

.newAlertsInfoListItems {
    border-bottom: solid 0.05em #76232A;
    padding: 2% 0%;
}

#newsAlertsSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(100%);
    background-color: #DCBCCB;
    padding: 1%;
}

#newsAlertsSelectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: fit-content(100%);
    border: solid 0.3em #5E1A30;
}

#newsAlertsAddAndSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: fit-content(100%);
    background-color: #E8E3FF;
    border-bottom: solid 0.1em #5E1A30;

}

#searchInputGroup {
    margin: 1%;
}

#newsAlertsView {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    /* height: 100%; */
    width: 100%;
}

#newsAlertsViewKeywords {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 1% 0.5%;
    background-color: #FFE2E2;
    border-right: solid 0.1em #5E1A30;
}

#newsAlertsViewResults {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 80%;
    height: fit-content;
    background-color: #E2FFF6;
    flex: 1;
}



@media (max-width:445px) {
    /* Changes for Mobile view */
}

@media (max-width:768px) {
    /* Changes for Tablet view */
}

@media (max-width:1023px) {
    /* Changes for Laptop view */
}