#uploadPageContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#uploadContent {
    height: 100%;
    flex-grow: 1;
}

#uploadLeftSideBar, #uploadRightSideBar {
    width: 8%;
    background-color: rgb(237, 240, 69);
    height: 100%;
}

@media (max-width:544px){
    #uploadLeftSideBar, #uploadRightSideBar {
        display: none;
    }
}

@media (max-width:830px){
    #uploadRightSideBar {
        display: none;
    }

    #uploadLeftSideBar {
        width: 7%;
    }
}

@media (max-width:715px){
    #uploadRightSideBar {
        display: none;
    }

    #uploadLeftSideBar {
        width: 4.5%;
    }
}