#uploadPageContainer{
    display: flex;
    height: 100%;
}

#uploadContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#uploadHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: rgb(253, 255, 161);
}

#uploadBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#uploadBodyContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

#uploadLeftSideBar, #uploadRightSideBar {
    width: 8%;
    background-color: rgb(250, 235, 31);
    height: 100%;
}

@media (max-width:544px){
    #uploadLeftSideBar, #uploadRightSideBar {
        display: none;
    }
}

@media (max-width:830px){
    #uploadRightSideBar {
        display: none;
    }

    #uploadLeftSideBar {
        width: 7%;
    }
}

@media (max-width:715px){
    #uploadRightSideBar {
        display: none;
    }

    #uploadLeftSideBar {
        width: 4.5%;
    }
}