#extensionPageContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#extensionContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

#extensionHeader{
    display: flex;
    flex-direction: row;
}

#extensionLeftSideBar, #extensionRightSideBar {
    width: 8%;
    background-color: rgb(34, 133, 30);
    height: 100%;
}

@media (max-width:544px){
    #extensionLeftSideBar, #extensionRightSideBar {
        display: none;
    }
}

@media (max-width:830px){
    #extensionRightSideBar {
        display: none;
    }

    #extensionLeftSideBar {
        width: 7%;
    }
}

@media (max-width:715px){
    #extensionRightSideBar {
        display: none;
    }

    #extensionLeftSideBar {
        width: 4.5%;
    }
}