#uploadPageContainer{
    display: flex;
    min-height: fit-content(100%);
}

#uploadContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#uploadHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 1%;
    background-color: #21295C;
    color: #FFFBFC;
}

#uploadBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#uploadBodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

#uploadBodyInstructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(100%);
}

#uploadInstructionsTitle {
    padding: 2% 1% 0%;
}

#uploadInstructionsHow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    width: 95%;
    min-height: fit-content(100%);
    padding: 1.5% 0%;
    border-bottom: solid 0.1em #49111C;
}

#uploadHowLabel {
    text-align: left;
    width: 20%;
}

#uploadHowText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding: 0% 0% 0% 1%;
    border-left: solid 0.2em #49111C;
    width: 80%;
    min-height: fit-content(100%);
    font-size: 1.2em;
}

#uploadInstructionsWhat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    width: 95%;
    min-height: fit-content(100%);
    padding: 1.5% 0%;
}

#uploadWhatLabel {
    text-align: left;
    width: 20%;
}

#uploadWhatText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 0% 0% 0% 1%;
    border-left: solid 0.2em #49111C;
    width: 80%;
    min-height: fit-content(100%);
    font-size: 1.2em;
}

#uploadBodyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: fit-content(30%);
    padding: 2% 1%;
    background-color: #274764;
    color: #FFFBFC;
}

#uploadBodyFormLabel {
    width: 80%;
    padding: 0% 0% 1.5% 0%;
    border-bottom: solid 0.1em #DEFCFF;
    border-radius: 10%;
}

#uploadBodyFormWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 2% 0% 0%;
}

#urlUpload {
    font-size: 1.2em;
}

#urlUploadLabel {
    font-size: 1.1em;
}

#fileUploadLabel {
    font-size: 1.1em;
}

.filepond--root {
    font-family: "Inconsolata", monospace;
    font-size: 1.4em;
    display: flex;
    align-content: center;
}

.filepond--panel-root {
    background-color: rgba(191, 249, 255, 0.5);
}

.filepond--drop-label {
    color: #FFFBFC;
}

@media (max-width:445px) {
    /* Changes for Mobile view */
}

@media (max-width:768px) {
    /* Changes for Tablet view */
    #uploadInstructionsHow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        width: 95%;
        min-height: fit-content(100%);
        padding: 2% 0%;
        border-bottom: solid 0.1em #49111C;
    }
    
    #uploadHowLabel {
        text-align: left;
        width: 100%;
        padding: 0% 0% 1.5%;
    }
    
    #uploadHowText {
        padding: 2% 0% 0%;
        border-top: solid 0.2em #49111C;
        border-left: none;
        width: 100%;
        min-height: fit-content(100%);
        text-align: center;
        
    }
    
    #uploadInstructionsWhat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        width: 95%;
        min-height: fit-content(100%);
        padding: 2% 0%;
    }
    
    #uploadWhatLabel {
        text-align: left;
        width: 100%;
        padding: 0% 0% 1.5%;
    }
    
    #uploadWhatText {
        padding: 2% 0% 0%;
        border-top: solid 0.2em #49111C;
        border-left: none;
        width: 100%;
        min-height: fit-content(100%);
        text-align: center;
    }
}

@media (max-width:1023px) {
    /* Changes for Laptop view */
}